@model p1p.Account.LocalPasswordModel

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <div class="well blue span5">
        <fieldset>
            <legend class="well-header" style="color: white; text-align: center">Change Password</legend>
            <div class="well-content">
                <table cellpadding="4">
                    <tr>
                        <td>@Html.LabelFor(m => m.OldPassword)</td>
                        <td>@Html.PasswordFor(m => m.OldPassword)</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(m => m.NewPassword)</td>
                        <td>@Html.PasswordFor(m => m.NewPassword)</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(m => m.ConfirmPassword)</td>
                        <td>@Html.PasswordFor(m => m.ConfirmPassword)</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td align="right"><input class="dark_green btn btn-block" style="width: 75px" type="submit" value="Save" /></td>
                    </tr>
                </table>

                
            </div>

        </fieldset>
    </div>
}
