@model p1p.Account.PasswordResetModel

<section id="loginForm">
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="login-container">
        <div class="heading-blue heading-login">
            <h4>Reset Password</h4>
        </div>
        <form>
            <div class="login-field">
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
            </div>        
            <div class="login-button">
                <button type="submit" class="smallbutton wide btn-block" value="Reset Password">Reset Password <i class="icon-arrow-right"></i></button>
            </div>
        </form>
    </div>
}
</section>